<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:fragment="layout">

    <!-- Fragment Header -->
    <head th:replace="fragments/header :: header">
        <title id="pageTitle">Index page</title>
    </head>

    <!-- Body -->
    <body>
        <div class="container">

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12 blog-main">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">
                        Blog posts
                    </h3>

                    <div class="blog-post" th:include=":: #content">
                    </div><!-- /.blog-post -->
                </div>
            </div><!-- /.row -->

        </main><!-- /.container -->

        <!-- Fragment Footer -->
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>